body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #eee;
}

.tab.active {
    background-color: white;
    font-weight: bold;
    border-top: 2px solid #007BFF;
    border-right: 2px solid #007BFF;
    border-left: 2px solid #007BFF;
}

.tab-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между инпутами */
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

input, select {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/*input[type="date"]:focus {*/
/*    border-color: #4caf50;*/
/*    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);*/
/*}*/
